body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;  
    overflow-x: hidden;
}
.nav-head{
    background-color: rgb(60, 59, 59);
    height: 45px;
    width:100%;
    position: fixed;
    top:0;
    text-align: center;
    z-index:5;
}
.nav-head ul li{
    display: flex;
    flex-direction: row;
    display: inline;
    margin: 17px;
    font-size: small;
}
.nav-bar ul{
    margin-top: 10px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.nav-bar a{
    text-decoration: none;
    color:rgb(210, 200, 200); 
}
.nav-bar a:hover{
    color:#ffffff;
}
.first-section{
    text-align: center;
    margin-top: -30px;
    background: url("images/hero_iphone14.jpg") no-repeat center;
    height: 650px;
    width:100%;
}
.first-section h2{
    text-align: center;
    margin-top: 90px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
}
.first-section h6{
    margin-top: -20px;
    text-align: center;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
}
.first-section a{
    text-decoration: none;
}
.first-section a:hover{
    text-decoration: underline;
}
.second-section{
    margin-top: -40px;
    background: url("images/apple_gift.jpg") no-repeat center rgb(5, 1, 40);
    height: 600px;
    width: 100%;
}
.second-section h3{
    position: relative;
    top:73%;
    text-align: center;
    color:#ffffff;
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.second-section h4{
    position: relative;
    top:67%;
    text-align: center;
    color:#ffffff;
    font-size: 24px;
    line-height: 1.0;
    font-weight: 90;
    letter-spacing: -.002em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.second-section h5{
    position: relative;
    top:65%;
    text-align: center;
    color: blue;
    font-size: 19px;
    line-height: 1.0;
    font-weight: 50;
    letter-spacing: -.002em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.second-section a{
    text-decoration: none;
}
.second-section h5 a:hover{
    text-decoration: underline;
}
.third-section{
    background: url("images/hero_apple_watch_series_8.jpg") repeat center;
    width:100%;
    height:600px;
    margin-top: 10px;
}
.third-section .first , .third-section img{
    display: flex;
    position: relative;
    top: 10%;
    justify-content: center;
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 40px;
    font-weight: 600;
}
.third-section .second{
    position: relative;
    top: 8%;
    display: flex;
    justify-content: center;
    color: #ff0000;
    font-size: 17px;
    letter-spacing: 5px;
}
div .third{
    display: flex;
    justify-content: center;
    position: relative;
    top:6%;
    color: #ffffff;
    font-size: 28px;
}
.third-section h6{
    display: flex;
    justify-content: center;
    position: relative;
    top:1%;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
}
.third-section a{
    text-decoration: none;
}
.third-section a:hover{
    text-decoration: underline;
}
.fourth-container{
    display:flex;
    position: relative;
    align-content: center;
}
.fourth-section{
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
    height: 500px;
    background: url("images/promo_iphone14pro.jpg") no-repeat center;
    background-color: black;
}
.fourth-section h2{
    position: relative;
    display: flex;
    justify-content: center;
    top: 1%;
    left:1%;
    color: #ffffff;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
}
.fourth-section h5{
    position: relative;
    display: flex;
    justify-content: center;
    top: -13%;
    color: #ffffff;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 20px;
    line-height: 1.08349;
    font-weight: 100;
    letter-spacing: -.002em;
}
.fourth-section h6{
    position: relative;
    display: flex;
    justify-content: center;
    top: -25%;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 17px;
    line-height: 1.08349;
    font-weight: 70;
    letter-spacing: -.002em;
}
.fourth-section a{
    text-decoration: none;
}
.fourth-section a:hover{
    text-decoration: underline;
}
.fourth-section1{
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
    height: 500px;
    background: url("images/promo_ipad.jpg") no-repeat center;
    background-color: black;
}
.fourth-section1 h2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 1%;
    left:43%;
    color: #000000;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
}
.fourth-section1 h5{
    position: relative;
    display: flex;
    justify-content: center;
    top: -12%;
    color: #000000;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 20px;
    line-height: 1.08349;
    font-weight: 100;
    letter-spacing: -.002em;
}
.fourth-section1 h6{
    position: relative;
    display: flex;
    justify-content: center;
    top: -24%;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 17px;
    line-height: 1.08349;
    font-weight: 70;
    letter-spacing: -.002em;
}
.fourth-section1 a{
    text-decoration: none;
}
.fourth-section1 a:hover{
    text-decoration: underline;
}
.fifth-container{
    display:flex;
    position: relative;
    align-content: center;
}
.fifth-section{
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
    height: 500px;
    background: url("images/promo_apple_watch.jpg") no-repeat center;
}
.fifth-section .first{
    position: relative;
    display: flex;
    justify-content: center;
    top: 13%;
    left:0%;
    color: #000000;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 26px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
}
.fifth-section h4{
    position: relative;
    display: flex;
    justify-content: center;
    top: 7%;
    color: #ff0000;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 13px;
    line-height: 1.08349;
    font-weight: 60;
    letter-spacing: -.002em;
}
.fifth-section h5{
    position: relative;
    display: flex;
    justify-content: center;
    top: -2%;
    color: #000000;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 20px;
    line-height: 1.08349;
    font-weight: 100;
    letter-spacing: -.002em;
}
.fifth-section h6{
    position: relative;
    display: flex;
    justify-content: center;
    top: -14%;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 17px;
    line-height: 1.08349;
    font-weight: 70;
    letter-spacing: -.002em;
}
.fifth-section a{
    text-decoration: none;
}
.fifth-section a:hover{
    text-decoration: underline;
}
.fifth-section1{
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
    height: 500px;
    background: url("images/promo_airpods_pro.jpg") no-repeat center;
    background-color: black;
}
.fifth-section1 h2{
    position: relative;
    display: flex;
    justify-content: center;
    top: 4%;
    left:0%;
    color: #ffffff;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size:36px;
    line-height: 1.08349;
    font-weight: 580;
    letter-spacing: -.002em;
}
.fifth-section1 h5{
    position: relative;
    display: flex;
    justify-content: center;
    top: -9%;
    color: #ffffff;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 25px;
    line-height: 1.08349;
    font-weight: 60;
    letter-spacing: -.002em;
}
.fifth-section1 h6{
    position: relative;
    display: flex;
    justify-content: center;
    top: -22%;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 17px;
    line-height: 1.08349;
    font-weight: 70;
    letter-spacing: -.002em;
}
.fifth-section1 a{
    text-decoration: none;
}
.fifth-section1 a:hover{
    text-decoration: underline;
}
.sixth-container{
    display:flex;
    position: relative;
    align-content: center;
}
.sixth-section{
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
    height: 500px;
    background: url("images/promo_macbookair.png") no-repeat center;
}
.sixth-section h4{
    position: relative;
    display: flex;
    justify-content: center;
    top: 0%;
    color: #000000;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 38px;
    line-height: 1.08349;
    font-weight: 550;
    letter-spacing: -.002em;
}
.sixth-section h5{
    position: relative;
    display: flex;
    justify-content: center;
    top: -15%;
    color: #000000;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 20px;
    line-height: 1.08349;
    font-weight: 490;
    letter-spacing: -.002em;
}
.sixth-section h6{
    position: relative;
    display: flex;
    justify-content: center;
    top: -27%;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 17px;
    line-height: 1.08349;
    font-weight: 70;
    letter-spacing: -.002em;
}
.sixth-section a{
    text-decoration: none;
}
.sixth-section a:hover{
    text-decoration: underline;
}
.sixth-section1{
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
    height: 500px;
    background: url("images/tile__cauwwcyyn9hy_medium.jpg") no-repeat center;
    background-color: #ffffff;
}
.sixth-section1 h2{
    position: relative;
    display: flex;
    justify-content: center;
    top: 4%;
    left:0%;
    color: #000000;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size:36px;
    line-height: 1.08349;
    font-weight: 580;
    letter-spacing: -.002em;
}
.sixth-section1 h5{
    position: relative;
    display: flex;
    justify-content: center;
    top: -32%;
    color: #000000;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 25px;
    line-height: 1.08349;
    font-weight: 60;
    letter-spacing: -.002em;
}
.sixth-section1 h6{
    position: relative;
    display: flex;
    justify-content: center;
    top: -23%;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 17px;
    line-height: 1.08349;
    font-weight: 70;
    letter-spacing: -.002em;
}
.sixth-section1 a{
    text-decoration: none;
}
.sixth-section1 a:hover{
    text-decoration: underline;
}

.seventh-container{
    display:flex;
    position: relative;
}
.seventh-container .first{
    margin-top: 20px;
    width:100%;
    display: flex;
    position: relative;
    justify-content: center;
}
.footer{
    display: flex;
    position: relative;
    justify-content: center;
    height: auto;
    width:100%;
    margin-top: 20px;
    background-color: #f5f5f7;
}
.footer p{
    border-bottom: 1px solid gray;
    color: #6e6e73;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.footer-container{
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    font-size: 11px;
    background-color: #f5f5f7;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #0f0f0ffd;
}
.footer-container .section1{
    position: relative;
    margin-left: 256px;
    line-height: 2.3;
}
.footer-container .section2 , .footer-container .section3 , .footer-container .section4{
    position: relative;
    line-height: 2.3;
}
.footer-container .section5{
    position: relative;
    margin-right: 267px;
    line-height: 2.3;
}
.footer-section{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    font-size: 12px;
    background-color: #f5f5f7;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #6e6e73;
}
.footer-section span{
    display: flex;
    position: relative;
    margin-left: 298px;
    line-height: 3.4;
}
.copyright{
    display: flex;
    position: relative;
    float: left;
    line-height: 3.4;
    width:61%;
    margin-left: 297px;
    border-top: 1px solid gray;
    font-size: 12px;
    background-color: #f5f5f7;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #6e6e73;
}


